html {
  font-size: 16px;
}
body {
  color: #ddd;
  background: #2e2e2e;
}
ul {
  display: block;
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  margin: 0;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background: #2e2e2e;
  border: 1px solid #aaa;
  color: #ddd;
}
button:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
}
a {
  color: #ddd;
  text-decoration: none;
}
pre {
  overflow: hidden;
}
code {
  overflow: hidden;
}
